{% extends "base.html" %}

{% block page_meta %}
    <title>Отчёты</title>
{% endblock %}

{% block breaducrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Отчёты</li>
    </ol>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div id="report_continer" class="col-xs-12 col-sm-9">
                {% if has_report %}
                    {% if recommendations %}
                        <h2>Рекомендации</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Необходимо доставить</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in recommendations %}
                                <tr>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.content }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            <strong>Рекомендаций нет</strong>
                            <br>ни одно животное не погибнет</div>
                    {% endif %}

                    {% if spawns %}
                        <h3>Родившиеся животные <i class="text-success glyphicon glyphicon-plus-sign"></i></h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Животные</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in spawns %}
                                <tr>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.content }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}


                    {% if deaths %}
                        <h3>Погибшие животные <i class="text-danger glyphicon glyphicon-remove-circle"></i></h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Животные</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in deaths %}
                                <tr>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.content }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endif %}
            </div>
            <div  class="col-xs-12 col-sm-3">
                {% include "common/widgets/report_form.html" with form=report_form %}
            </div>
        </div>
    </div>
{% endblock %}