{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_meta %}
    <title>Поставки</title>
{% endblock %}

{% block breaducrumbs %}
    <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Поставки</li>
    </ol>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Добавить поставку</h2>
                <form method="post" id="supply_form">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}{% if field.is_hidden %} hidden{% endif %}">
                            <label class="control-label">{{ field.label }}</label>
                            {% if field.field.required %}
                                {{ field|append_attr:"required:required"|add_class:"form-control" }}
                            {% else %}
                                {{ field|add_class:"form-control"}}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div id="extra_fields">

                    </div>

                    <div id="form_actions" class="form-group">
                        <div id="add_animal" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> животное</div>
                        <div id="add_consumable" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> потребность</div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-primary btn btn-lg">СОХРАНИТЬ</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if supplies %}
                    <h2>Поставки</h2>
                    {% include "common/widgets/supplies_table.html" with supplies=supplies %}
                {% else %}
                    <div class="alert alert-warning" role="alert">Поставок нет</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}