<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8 ie7" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block page_meta %}
        <title>zoolab</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width">
    {% include "templatetags/stylesheets.html" %}

</head>

<body>

<div class="main-content-wrapper">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h1><a href="/"><span class="glyphicon glyphicon-grain"></span></a> Zoolab</h1>
                </div>
                <div class="col-xs-12 col-sm-6">
                    {% include "templatetags/navigation.html" %}
                </div>
            </div>
        </div>
        <div class="row">
            {% include "templatetags/messages.html" %}
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% block breaducrumbs %}{% endblock %}
            </div>
        </div>
    </div>

    {% block main_content %}{% endblock %}
    <div class="footer-placeholder"></div>
</div>

<div class="footer-wrapper">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>

{% include "templatetags/pagescripts.html" %}

</body>
</html>